*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{text-decoration: none;}
html{
    font-family: 'Inter', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding: 50px 0px 20px 0px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.logo img{
    width: 250px;
}
.menu{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 18px;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}
.menu a{
    color: black;
    text-shadow: 2px 0.3em 0.2em lightcoral;
}
.menu a:hover{
    border-bottom: 2px solid black;
}
.banner{
    background: url(img/banner.jpg);
    min-height: 650px;
    background-size: 100% 650px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner h3{
    font-family: 'Mali', cursive;
    font-size: 23px;
    margin-bottom: 30px;
}
.banner p{
    font-weight: 100;
    font-size: 18px;
}
.cart{
    width: 18%;
    text-align: center;
}
.danhmuc{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}
.cart img{
    width: 100%;
}
.cart h3{
    text-transform: uppercase;
    padding: 15px 0px;
}
.slide_img{
    height: 350px;
    background: url(img/pic4.png) no-repeat left bottom,
                url(img/pic6.png) no-repeat top right;
    background-size: 200px 240px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.slide_img_text{
    padding: 0px 30px;
}
.slide_img_text h3{
    font-weight: 300;
    font-style: italic;
    font-size: 26px;
}
.slide_img_text p{
    font-size: 22px;
    padding-top: 20px;
}
.cat_title{
    margin-top: 10px;
}
.title_danhmuc{
    margin-top: 50px;
    font-weight: bold;
}
.cart{
    position: relative;
}
.button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 10px;
    color: black;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
}
.button:hover{
    background-color: aquamarine;
}
.chuky{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.chuky_nd{
    width: 45%;
}
.chuky_nd h4{
    font-family: 'Inknut Antiqua',serif;
    line-height: 17px;
    padding-bottom: 30px;
}
.chuky_nd h4 span{
    color: red;
}
.chuky_nd p{
    padding: 10px 0px;
    line-height: 18px;
}
.chuky_nd img{
    width: 50%;
    height: 150px;
    float: left;
}
.chuky_a{
    width: 55%;
}
.chuky_a img{
    width: 100%;
}
.footer{
    min-height: 300px;
    padding: 40px 0px;
    margin-top: 80px;
    display: flex;
    background-color: silver;
    justify-content: space-between;
}
.box_menu{
    width: 20%;
    margin-left: 5%;
}
.box_menu h4{
    font-size: 18px;
    padding-bottom: 30px;
}
.box_menu ul{
    list-style-type: none;
}
.box_menu a{
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}
